body{
    background-color: white;
    font-family: 'Poppins', sans-serif;

}
.main{
    margin-top: 5em;
    margin-left: 15%;
    margin-right: 15%;
    border: 2px solid #4caf50;
    height: 88px;
    border-radius: 10px;
}
.title{
    margin-top: 0.5em;
    float: left;
    margin-left: 1em;
    font-size: 1.5em;
    font-weight: bold;
    
}
.detail{
    margin-top: 0.8em;
    font-size: 0.7em;
    font-weight: normal;
}
.button{
    margin-right: 1em;
    float: right;
    width: 5em;
}
.btn1{
    width: 5em;
    margin-top: 0.5em;
    background-color: #4caf50;
    color: white;
    font-size: 1em;
    height: 2em;
    text-align: center;
    border-radius: 5px;
}
.btn2{
    width: 5em;
    margin-top: 0.5em;
    background-color: red;
    color: white;
    font-size: 1em;
    height: 2em;
    border-radius: 5px;
}
.datetime{
    float: right;
    font-weight: bold;
    font-size: 1.5em;
    margin-right: 0.5em;
}
.date{
    width: fit-content;
    margin-top: 0.5em;
}
.time{
    width: fit-content;
    margin-top: 0.5em;
}